body {
    text-align: center;
    margin: auto;
}

#mecca, #kucing, #mobil {
    display: inline-block;
    margin: auto;
    width: 24%;
    border: 3px solid #666;
    padding: 10px;
    text-align: center;
    height: 400px;
    font-weight: 400;
    cursor: pointer;
}

#mecca:hover, #kucing:hover, #mobil:hover {
    width: 25%;
    font-weight: 700;
    color: white;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.3);
}